#logo {
  max-width: 150px;
}

h3 {
  font-family: "Open Sans";
}

#legend {
  border: 1px solid #b0b0b0;
  padding: 1em 0;
  margin: 0 10px;
  border-radius: 50px;
  position: relative;
  &::before {
    content: "Legend";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 5px;
    font-size: 0.65em;
    font-family: "Montserrat";
    font-weight: 500;
  }
  & ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    font-size: 0.65em;
    & li {
      display: block;
    }
  }
}

.menu-title {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 3px;
}

.pizza-item-wrapper {
  display: flex;
  flex-direction: column;
  & h5 {
    background-color: var(--primary);
    font-weight: bold;
    padding-right: 20px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &.active {
      background-color: black;
      color: var(--primary);
    }
  }
  & p {
    font-size: 0.8em;
    color: var(--secondary);
  }
  .pizza-option-label {
    font-size: 0.7em;
    margin-bottom: 0;
  }
  .pizza-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    & span {
      font-weight: bold;
      font-size: 1em;
    }
    & .icon-button {
      position: relative;
      top: -1px;
    }
    & .dropdown-item {
      color: var(--dark);
      display: flex;
      align-items: center;
      & svg {
        margin-right: 0.5em;
      }
    }
  }
}

// footer

footer {
  background-color: #171717;
  color: var(--secondary);
  display: flex;
  flex-flow: column nowrap;
  min-height: 120px;
  margin-top: 3em;
  & .container div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div:first-child {
      width: 130px;
    }
    & ul {
      padding: 0;
      margin: 0;
      display: flex;
      & li {
        display: block;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
  & small {
    font-size: 0.7em;
  }
}
